body{
    background-image: url(./img/showcase.jpg);
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#rubrik{
    color: rgb(6, 6, 156);
    background-color: rgb(210, 210, 89);
    text-align: center;
}
h2{
    align-items: center;
}
.Artikel-HTML-5 {
    h2 {
        text-align: center;
    }
    p {
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 1%;
    }
    background-color: rgb(161, 154, 154);
    margin: 2%;
}
.sidfot {
    display: flex;
    justify-content: center;
    }